@font-face {
  font-family: 'czicons';
  src: url('czicons.eot');
  src: url('czicons.eot#iefix') format('embedded-opentype'),
       url('czicons.woff2') format('woff2'),
       url('czicons.woff') format('woff'),
       url('czicons.ttf') format('truetype'),
       url('czicons.svg#czicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block
}

[class^="czico-"]:before,
[class*=" czico-"]:before {
  font-family: "czicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.czico-Icon-Action-Profile-Off:before { --fa: '\e800'; content: '\e800'; } /* 'î €' */
.czico-Icon-Action-Profile-On:before { --fa: '\e801'; content: '\e801'; } /* 'î ' */
.czico-002-right-arrow-3:before { --fa: '\e802'; content: '\e802'; } /* 'î ‚' */
.czico-003-left-arrow-2:before { --fa: '\e803'; content: '\e803'; } /* 'î ƒ' */
.czico-004-right-arrow-2:before { --fa: '\e804'; content: '\e804'; } /* 'î „' */
.czico-005-right-arrow-1:before { --fa: '\e805'; content: '\e805'; } /* 'î …' */
.czico-006-left-arrow-1:before { --fa: '\e806'; content: '\e806'; } /* 'î †' */
.czico-007-left-arrow:before { --fa: '\e807'; content: '\e807'; } /* 'î ‡' */
.czico-008-right-arrow:before { --fa: '\e808'; content: '\e808'; } /* 'î ˆ' */
.czico-009-little-thin-expand-arrows:before { --fa: '\e809'; content: '\e809'; } /* 'î ‰' */
.czico-010-expand:before { --fa: '\e80a'; content: '\e80a'; } /* 'î Š' */
.czico-011-blank-check-box:before { --fa: '\e80b'; content: '\e80b'; } /* 'î ‹' */
.czico-012-done:before { --fa: '\e80c'; content: '\e80c'; } /* 'î Œ' */
.czico-013-export:before { --fa: '\e80d'; content: '\e80d'; } /* 'î ' */
.czico-014-cube:before { --fa: '\e80e'; content: '\e80e'; } /* 'î Ž' */
.czico-015-push-pin:before { --fa: '\e80f'; content: '\e80f'; } /* 'î ' */
.czico-016-map-localization:before { --fa: '\e810'; content: '\e810'; } /* 'î ' */
.czico-017-credit-card-2:before { --fa: '\e811'; content: '\e811'; } /* 'î ‘' */
.czico-018-credit-card-1:before { --fa: '\e812'; content: '\e812'; } /* 'î ’' */
.czico-019-wallet-1:before { --fa: '\e813'; content: '\e813'; } /* 'î “' */
.czico-020-credit-card:before { --fa: '\e814'; content: '\e814'; } /* 'î ”' */
.czico-021-shield-5:before { --fa: '\e815'; content: '\e815'; } /* 'î •' */
.czico-022-shield-4:before { --fa: '\e816'; content: '\e816'; } /* 'î –' */
.czico-023-guarantee:before { --fa: '\e817'; content: '\e817'; } /* 'î —' */
.czico-024-security-badge:before { --fa: '\e818'; content: '\e818'; } /* 'î ˜' */
.czico-chat-1:before { --fa: '\e819'; content: '\e819'; } /* 'î ™' */
.czico-002-communication:before { --fa: '\e81a'; content: '\e81a'; } /* 'î š' */
.czico-003-multimedia-2:before { --fa: '\e81b'; content: '\e81b'; } /* 'î ›' */
.czico-004-balloon:before { --fa: '\e81c'; content: '\e81c'; } /* 'î œ' */
.czico-005-speech-bubble:before { --fa: '\e81d'; content: '\e81d'; } /* 'î ' */
.czico-006-speech-bubble-with-text-lines:before { --fa: '\e81e'; content: '\e81e'; } /* 'î ž' */
.czico-007-phone-chat-with-wifi-signal:before { --fa: '\e81f'; content: '\e81f'; } /* 'î Ÿ' */
.czico-008-chat-2:before { --fa: '\e820'; content: '\e820'; } /* 'î  ' */
.czico-009-speech-bubbles-comment-option:before { --fa: '\e821'; content: '\e821'; } /* 'î ¡' */
.czico-010-support:before { --fa: '\e822'; content: '\e822'; } /* 'î ¢' */
.czico-011-chat-1:before { --fa: '\e823'; content: '\e823'; } /* 'î £' */
.czico-012-chat:before { --fa: '\e824'; content: '\e824'; } /* 'î ¤' */
.czico-013-whatsapp-logo:before { --fa: '\e825'; content: '\e825'; } /* 'î ¥' */
.czico-014-arrows-11:before { --fa: '\e826'; content: '\e826'; } /* 'î ¦' */
.czico-015-play:before { --fa: '\e827'; content: '\e827'; } /* 'î §' */
.czico-017-arrows-9:before { --fa: '\e828'; content: '\e828'; } /* 'î ¨' */
.czico-042-shopping-cart-1:before { --fa: '\e829'; content: '\e829'; } /* 'î ©' */
.czico-043-heart-outline:before { --fa: '\e82a'; content: '\e82a'; } /* 'î ª' */
.czico-044-heart-1:before { --fa: '\e82b'; content: '\e82b'; } /* 'î «' */
.czico-045-heart:before { --fa: '\e82c'; content: '\e82c'; } /* 'î ¬' */
.czico-046-like:before { --fa: '\e82d'; content: '\e82d'; } /* 'î ­' */
.czico-047-line-1:before { --fa: '\e82e'; content: '\e82e'; } /* 'î ®' */
.czico-048-bars-2:before { --fa: '\e82f'; content: '\e82f'; } /* 'î ¯' */
.czico-049-music:before { --fa: '\e830'; content: '\e830'; } /* 'î °' */
.czico-050-interface-2:before { --fa: '\e831'; content: '\e831'; } /* 'î ±' */
.czico-018-play-button-4:before { --fa: '\e832'; content: '\e832'; } /* 'î ²' */
.czico-052-three-2:before { --fa: '\e833'; content: '\e833'; } /* 'î ³' */
.czico-053-three-1:before { --fa: '\e834'; content: '\e834'; } /* 'î ´' */
.czico-019-shopping-bag-6:before { --fa: '\e835'; content: '\e835'; } /* 'î µ' */
.czico-055-three:before { --fa: '\e836'; content: '\e836'; } /* 'î ¶' */
.czico-056-menu-8:before { --fa: '\e837'; content: '\e837'; } /* 'î ·' */
.czico-057-menu-6:before { --fa: '\e838'; content: '\e838'; } /* 'î ¸' */
.czico-058-menu-7:before { --fa: '\e839'; content: '\e839'; } /* 'î ¹' */
.czico-020-shopping-basket-1:before { --fa: '\e83a'; content: '\e83a'; } /* 'î º' */
.czico-060-bars:before { --fa: '\e83b'; content: '\e83b'; } /* 'î »' */
.czico-061-menu-4:before { --fa: '\e83c'; content: '\e83c'; } /* 'î ¼' */
.czico-062-menu-3:before { --fa: '\e83d'; content: '\e83d'; } /* 'î ½' */
.czico-063-menu-2:before { --fa: '\e83e'; content: '\e83e'; } /* 'î ¾' */
.czico-064-home-4:before { --fa: '\e83f'; content: '\e83f'; } /* 'î ¿' */
.czico-021-shopping-bag-7:before { --fa: '\e840'; content: '\e840'; } /* 'î¡€' */
.czico-066-home-3:before { --fa: '\e841'; content: '\e841'; } /* 'î¡' */
.czico-067-house-outline:before { --fa: '\e842'; content: '\e842'; } /* 'î¡‚' */
.czico-068-home-2:before { --fa: '\e843'; content: '\e843'; } /* 'î¡ƒ' */
.czico-069-home-1:before { --fa: '\e844'; content: '\e844'; } /* 'î¡„' */
.czico-070-home:before { --fa: '\e845'; content: '\e845'; } /* 'î¡…' */
.czico-071-interface-1:before { --fa: '\e846'; content: '\e846'; } /* 'î¡†' */
.czico-072-check-mark:before { --fa: '\e847'; content: '\e847'; } /* 'î¡‡' */
.czico-073-checked-3:before { --fa: '\e848'; content: '\e848'; } /* 'î¡ˆ' */
.czico-074-tick-inside-circle:before { --fa: '\e849'; content: '\e849'; } /* 'î¡‰' */
.czico-075-checked-2:before { --fa: '\e84a'; content: '\e84a'; } /* 'î¡Š' */
.czico-076-success:before { --fa: '\e84b'; content: '\e84b'; } /* 'î¡‹' */
.czico-077-flag:before { --fa: '\e84c'; content: '\e84c'; } /* 'î¡Œ' */
.czico-078-globe:before { --fa: '\e84d'; content: '\e84d'; } /* 'î¡' */
.czico-079-pin:before { --fa: '\e84e'; content: '\e84e'; } /* 'î¡Ž' */
.czico-080-placeholder-3:before { --fa: '\e84f'; content: '\e84f'; } /* 'î¡' */
.czico-081-placeholder-2:before { --fa: '\e850'; content: '\e850'; } /* 'î¡' */
.czico-082-maps-and-flags:before { --fa: '\e851'; content: '\e851'; } /* 'î¡‘' */
.czico-083-placeholder-1:before { --fa: '\e852'; content: '\e852'; } /* 'î¡’' */
.czico-084-placeholder:before { --fa: '\e853'; content: '\e853'; } /* 'î¡“' */
.czico-085-multimedia-1:before { --fa: '\e854'; content: '\e854'; } /* 'î¡”' */
.czico-086-note:before { --fa: '\e855'; content: '\e855'; } /* 'î¡•' */
.czico-022-shopping-bag-5:before { --fa: '\e856'; content: '\e856'; } /* 'î¡–' */
.czico-088-envelope-of-white-paper:before { --fa: '\e857'; content: '\e857'; } /* 'î¡—' */
.czico-089-mail-1:before { --fa: '\e858'; content: '\e858'; } /* 'î¡˜' */
.czico-090-envelope-1:before { --fa: '\e859'; content: '\e859'; } /* 'î¡™' */
.czico-091-message-1:before { --fa: '\e85a'; content: '\e85a'; } /* 'î¡š' */
.czico-092-mail:before { --fa: '\e85b'; content: '\e85b'; } /* 'î¡›' */
.czico-093-message:before { --fa: '\e85c'; content: '\e85c'; } /* 'î¡œ' */
.czico-094-envelope:before { --fa: '\e85d'; content: '\e85d'; } /* 'î¡' */
.czico-095-user-4:before { --fa: '\e85e'; content: '\e85e'; } /* 'î¡ž' */
.czico-096-user-shape:before { --fa: '\e85f'; content: '\e85f'; } /* 'î¡Ÿ' */
.czico-097-user-3:before { --fa: '\e860'; content: '\e860'; } /* 'î¡ ' */
.czico-098-profile-1:before { --fa: '\e861'; content: '\e861'; } /* 'î¡¡' */
.czico-099-user-2:before { --fa: '\e862'; content: '\e862'; } /* 'î¡¢' */
.czico-100-user-1:before { --fa: '\e863'; content: '\e863'; } /* 'î¡£' */
.czico-101-user:before { --fa: '\e864'; content: '\e864'; } /* 'î¡¤' */
.czico-102-avatar:before { --fa: '\e865'; content: '\e865'; } /* 'î¡¥' */
.czico-103-tool-1:before { --fa: '\e866'; content: '\e866'; } /* 'î¡¦' */
.czico-104-circle:before { --fa: '\e867'; content: '\e867'; } /* 'î¡§' */
.czico-105-link-3:before { --fa: '\e868'; content: '\e868'; } /* 'î¡¨' */
.czico-106-foreign:before { --fa: '\e869'; content: '\e869'; } /* 'î¡©' */
.czico-107-web-link:before { --fa: '\e86a'; content: '\e86a'; } /* 'î¡ª' */
.czico-108-link-2:before { --fa: '\e86b'; content: '\e86b'; } /* 'î¡«' */
.czico-109-link-symbol-1:before { --fa: '\e86c'; content: '\e86c'; } /* 'î¡¬' */
.czico-110-link-symbol:before { --fa: '\e86d'; content: '\e86d'; } /* 'î¡­' */
.czico-111-unlink-1:before { --fa: '\e86e'; content: '\e86e'; } /* 'î¡®' */
.czico-112-unlink:before { --fa: '\e86f'; content: '\e86f'; } /* 'î¡¯' */
.czico-113-link-1:before { --fa: '\e870'; content: '\e870'; } /* 'î¡°' */
.czico-114-signs-1:before { --fa: '\e871'; content: '\e871'; } /* 'î¡±' */
.czico-115-cross-3:before { --fa: '\e872'; content: '\e872'; } /* 'î¡²' */
.czico-116-cross-2:before { --fa: '\e873'; content: '\e873'; } /* 'î¡³' */
.czico-117-web:before { --fa: '\e874'; content: '\e874'; } /* 'î¡´' */
.czico-118-cross-1:before { --fa: '\e875'; content: '\e875'; } /* 'î¡µ' */
.czico-119-cross:before { --fa: '\e876'; content: '\e876'; } /* 'î¡¶' */
.czico-120-tool:before { --fa: '\e877'; content: '\e877'; } /* 'î¡·' */
.czico-121-signs:before { --fa: '\e878'; content: '\e878'; } /* 'î¡¸' */
.czico-122-sign:before { --fa: '\e879'; content: '\e879'; } /* 'î¡¹' */
.czico-123-add-7:before { --fa: '\e87a'; content: '\e87a'; } /* 'î¡º' */
.czico-124-add-6:before { --fa: '\e87b'; content: '\e87b'; } /* 'î¡»' */
.czico-125-add-song:before { --fa: '\e87c'; content: '\e87c'; } /* 'î¡¼' */
.czico-126-add-5:before { --fa: '\e87d'; content: '\e87d'; } /* 'î¡½' */
.czico-127-add-4:before { --fa: '\e87e'; content: '\e87e'; } /* 'î¡¾' */
.czico-128-add-3:before { --fa: '\e87f'; content: '\e87f'; } /* 'î¡¿' */
.czico-129-plus-1:before { --fa: '\e880'; content: '\e880'; } /* 'î¢€' */
.czico-023-shopping-bag-4:before { --fa: '\e881'; content: '\e881'; } /* 'î¢' */
.czico-024-shopping-cart-4:before { --fa: '\e882'; content: '\e882'; } /* 'î¢‚' */
.czico-132-arrows-8:before { --fa: '\e883'; content: '\e883'; } /* 'î¢ƒ' */
.czico-133-arrows-7:before { --fa: '\e884'; content: '\e884'; } /* 'î¢„' */
.czico-134-arrows-6:before { --fa: '\e885'; content: '\e885'; } /* 'î¢…' */
.czico-135-arrows-5:before { --fa: '\e886'; content: '\e886'; } /* 'î¢†' */
.czico-136-play-button-3:before { --fa: '\e887'; content: '\e887'; } /* 'î¢‡' */
.czico-137-play-button-2:before { --fa: '\e888'; content: '\e888'; } /* 'î¢ˆ' */
.czico-138-play-button-1:before { --fa: '\e889'; content: '\e889'; } /* 'î¢‰' */
.czico-139-search-8:before { --fa: '\e88a'; content: '\e88a'; } /* 'î¢Š' */
.czico-140-search-7:before { --fa: '\e88b'; content: '\e88b'; } /* 'î¢‹' */
.czico-141-interface:before { --fa: '\e88c'; content: '\e88c'; } /* 'î¢Œ' */
.czico-142-search-6:before { --fa: '\e88d'; content: '\e88d'; } /* 'î¢' */
.czico-143-magnifier-tool:before { --fa: '\e88e'; content: '\e88e'; } /* 'î¢Ž' */
.czico-144-musica-searcher:before { --fa: '\e88f'; content: '\e88f'; } /* 'î¢' */
.czico-145-search-5:before { --fa: '\e890'; content: '\e890'; } /* 'î¢' */
.czico-146-search-4:before { --fa: '\e891'; content: '\e891'; } /* 'î¢‘' */
.czico-147-magnifying-glass:before { --fa: '\e892'; content: '\e892'; } /* 'î¢’' */
.czico-148-search-3:before { --fa: '\e893'; content: '\e893'; } /* 'î¢“' */
.czico-149-basket:before { --fa: '\e894'; content: '\e894'; } /* 'î¢”' */
.czico-150-shopping-cart:before { --fa: '\e895'; content: '\e895'; } /* 'î¢•' */
.czico-151-shopping-bag-1:before { --fa: '\e896'; content: '\e896'; } /* 'î¢–' */
.czico-025-shopping-cart-3:before { --fa: '\e897'; content: '\e897'; } /* 'î¢—' */
.czico-026-shopping-bag-3:before { --fa: '\e898'; content: '\e898'; } /* 'î¢˜' */
.czico-027-shopping-bag-2:before { --fa: '\e899'; content: '\e899'; } /* 'î¢™' */
.czico-028-shopping-basket:before { --fa: '\e89a'; content: '\e89a'; } /* 'î¢š' */
.czico-029-shopping-cart-2:before { --fa: '\e89b'; content: '\e89b'; } /* 'î¢›' */
.czico-030-shopping-purse-icon:before { --fa: '\e89c'; content: '\e89c'; } /* 'î¢œ' */
.czico-031-commerce-9:before { --fa: '\e89d'; content: '\e89d'; } /* 'î¢' */
.czico-032-web-1:before { --fa: '\e89e'; content: '\e89e'; } /* 'î¢ž' */
.czico-033-commerce-8:before { --fa: '\e89f'; content: '\e89f'; } /* 'î¢Ÿ' */
.czico-035-tool-2:before { --fa: '\e8a0'; content: '\e8a0'; } /* 'î¢ ' */
.czico-036-commerce-6:before { --fa: '\e8a1'; content: '\e8a1'; } /* 'î¢¡' */
.czico-037-commerce-5:before { --fa: '\e8a2'; content: '\e8a2'; } /* 'î¢¢' */
.czico-164-commerce-1:before { --fa: '\e8a3'; content: '\e8a3'; } /* 'î¢£' */
.czico-165-play-button:before { --fa: '\e8a4'; content: '\e8a4'; } /* 'î¢¤' */
.czico-166-download-1:before { --fa: '\e8a5'; content: '\e8a5'; } /* 'î¢¥' */
.czico-038-commerce-4:before { --fa: '\e8a6'; content: '\e8a6'; } /* 'î¢¦' */
.czico-168-shopping-bag:before { --fa: '\e8a7'; content: '\e8a7'; } /* 'î¢§' */
.czico-039-commerce-3:before { --fa: '\e8a8'; content: '\e8a8'; } /* 'î¢¨' */
.czico-170-location:before { --fa: '\e8a9'; content: '\e8a9'; } /* 'î¢©' */
.czico-171-circular-clock:before { --fa: '\e8aa'; content: '\e8aa'; } /* 'î¢ª' */
.czico-172-zoom-in:before { --fa: '\e8ab'; content: '\e8ab'; } /* 'î¢«' */
.czico-173-add:before { --fa: '\e8ac'; content: '\e8ac'; } /* 'î¢¬' */
.czico-174-search-2:before { --fa: '\e8ad'; content: '\e8ad'; } /* 'î¢­' */
.czico-040-interface-3:before { --fa: '\e8ae'; content: '\e8ae'; } /* 'î¢®' */
.czico-176-menu-1:before { --fa: '\e8af'; content: '\e8af'; } /* 'î¢¯' */
.czico-041-commerce-2:before { --fa: '\e8b0'; content: '\e8b0'; } /* 'î¢°' */
.czico-178-check:before { --fa: '\e8b1'; content: '\e8b1'; } /* 'î¢±' */
.czico-179-close:before { --fa: '\e8b2'; content: '\e8b2'; } /* 'î¢²' */
.czico-180-multimedia:before { --fa: '\e8b3'; content: '\e8b3'; } /* 'î¢³' */
.czico-181-search-1:before { --fa: '\e8b4'; content: '\e8b4'; } /* 'î¢´' */
.czico-182-search:before { --fa: '\e8b5'; content: '\e8b5'; } /* 'î¢µ' */
.czico-183-social-media:before { --fa: '\e8b6'; content: '\e8b6'; } /* 'î¢¶' */
.czico-184-favorite:before { --fa: '\e8b7'; content: '\e8b7'; } /* 'î¢·' */
.czico-185-internet:before { --fa: '\e8b8'; content: '\e8b8'; } /* 'î¢¸' */
.czico-186-luxury:before { --fa: '\e8b9'; content: '\e8b9'; } /* 'î¢¹' */
.czico-187-up-arrow-1:before { --fa: '\e8ba'; content: '\e8ba'; } /* 'î¢º' */
.czico-188-arrows-2:before { --fa: '\e8bb'; content: '\e8bb'; } /* 'î¢»' */
.czico-189-arrows-1:before { --fa: '\e8bc'; content: '\e8bc'; } /* 'î¢¼' */
.czico-190-arrows:before { --fa: '\e8bd'; content: '\e8bd'; } /* 'î¢½' */
.czico-191-commerce:before { --fa: '\e8be'; content: '\e8be'; } /* 'î¢¾' */
.czico-192-youtube:before { --fa: '\e8bf'; content: '\e8bf'; } /* 'î¢¿' */
.czico-193-checked:before { --fa: '\e8c0'; content: '\e8c0'; } /* 'î£€' */
.czico-194-download:before { --fa: '\e8c1'; content: '\e8c1'; } /* 'î£' */
.czico-195-equal:before { --fa: '\e8c2'; content: '\e8c2'; } /* 'î£‚' */
.czico-196-link:before { --fa: '\e8c3'; content: '\e8c3'; } /* 'î£ƒ' */
.czico-197-menu:before { --fa: '\e8c4'; content: '\e8c4'; } /* 'î£„' */
.czico-198-cancel:before { --fa: '\e8c5'; content: '\e8c5'; } /* 'î£…' */
.czico-199-up-arrow:before { --fa: '\e8c6'; content: '\e8c6'; } /* 'î£†' */
.czico-200-down-arrow:before { --fa: '\e8c7'; content: '\e8c7'; } /* 'î£‡' */
.czico-201-back:before { --fa: '\e8c8'; content: '\e8c8'; } /* 'î£ˆ' */
.czico-202-checked-1:before { --fa: '\e8c9'; content: '\e8c9'; } /* 'î£‰' */
.czico-025-shield-3:before { --fa: '\e8ca'; content: '\e8ca'; } /* 'î£Š' */
.czico-026-shield-2:before { --fa: '\e8cb'; content: '\e8cb'; } /* 'î£‹' */
.czico-027-shield-1:before { --fa: '\e8cc'; content: '\e8cc'; } /* 'î£Œ' */
.czico-028-target-4:before { --fa: '\e8cd'; content: '\e8cd'; } /* 'î£' */
.czico-029-target-3:before { --fa: '\e8ce'; content: '\e8ce'; } /* 'î£Ž' */
.czico-030-target-2:before { --fa: '\e8cf'; content: '\e8cf'; } /* 'î£' */
.czico-031-objective:before { --fa: '\e8d0'; content: '\e8d0'; } /* 'î£' */
.czico-032-apple:before { --fa: '\e8d1'; content: '\e8d1'; } /* 'î£‘' */
.czico-033-qr-code:before { --fa: '\e8d2'; content: '\e8d2'; } /* 'î£’' */
.czico-034-blackberry-1:before { --fa: '\e8d3'; content: '\e8d3'; } /* 'î£“' */
.czico-035-blackberry:before { --fa: '\e8d4'; content: '\e8d4'; } /* 'î£”' */
.czico-036-windows:before { --fa: '\e8d5'; content: '\e8d5'; } /* 'î£•' */
.czico-037-windows-logo:before { --fa: '\e8d6'; content: '\e8d6'; } /* 'î£–' */
.czico-038-android:before { --fa: '\e8d7'; content: '\e8d7'; } /* 'î£—' */
.czico-039-clock-2:before { --fa: '\e8d8'; content: '\e8d8'; } /* 'î£˜' */
.czico-040-target-1:before { --fa: '\e8d9'; content: '\e8d9'; } /* 'î£™' */
.czico-041-physics:before { --fa: '\e8da'; content: '\e8da'; } /* 'î£š' */
.czico-042-medal-1:before { --fa: '\e8db'; content: '\e8db'; } /* 'î£›' */
.czico-043-flask:before { --fa: '\e8dc'; content: '\e8dc'; } /* 'î£œ' */
.czico-044-placeholder:before { --fa: '\e8dd'; content: '\e8dd'; } /* 'î£' */
.czico-045-smartphone:before { --fa: '\e8de'; content: '\e8de'; } /* 'î£ž' */
.czico-046-favorite:before { --fa: '\e8df'; content: '\e8df'; } /* 'î£Ÿ' */
.czico-047-telemarketer:before { --fa: '\e8e0'; content: '\e8e0'; } /* 'î£ ' */
.czico-048-dashboard:before { --fa: '\e8e1'; content: '\e8e1'; } /* 'î£¡' */
.czico-049-megaphone:before { --fa: '\e8e2'; content: '\e8e2'; } /* 'î£¢' */
.czico-050-eye:before { --fa: '\e8e3'; content: '\e8e3'; } /* 'î££' */
.czico-051-user:before { --fa: '\e8e4'; content: '\e8e4'; } /* 'î£¤' */
.czico-052-target:before { --fa: '\e8e5'; content: '\e8e5'; } /* 'î£¥' */
.czico-053-settings:before { --fa: '\e8e6'; content: '\e8e6'; } /* 'î£¦' */
.czico-054-hand-shake:before { --fa: '\e8e7'; content: '\e8e7'; } /* 'î£§' */
.czico-055-conversation:before { --fa: '\e8e8'; content: '\e8e8'; } /* 'î£¨' */
.czico-056-quality:before { --fa: '\e8e9'; content: '\e8e9'; } /* 'î£©' */
.czico-057-medal:before { --fa: '\e8ea'; content: '\e8ea'; } /* 'î£ª' */
.czico-058-pie-chart:before { --fa: '\e8eb'; content: '\e8eb'; } /* 'î£«' */
.czico-059-bag-1:before { --fa: '\e8ec'; content: '\e8ec'; } /* 'î£¬' */
.czico-060-equal:before { --fa: '\e8ed'; content: '\e8ed'; } /* 'î£­' */
.czico-061-bag:before { --fa: '\e8ee'; content: '\e8ee'; } /* 'î£®' */
.czico-062-box-2:before { --fa: '\e8ef'; content: '\e8ef'; } /* 'î£¯' */
.czico-063-box-1:before { --fa: '\e8f0'; content: '\e8f0'; } /* 'î£°' */
.czico-064-shield:before { --fa: '\e8f1'; content: '\e8f1'; } /* 'î£±' */
.czico-065-heart:before { --fa: '\e8f2'; content: '\e8f2'; } /* 'î£²' */
.czico-066-money-4:before { --fa: '\e8f3'; content: '\e8f3'; } /* 'î£³' */
.czico-067-truck:before { --fa: '\e8f4'; content: '\e8f4'; } /* 'î£´' */
.czico-068-wallet:before { --fa: '\e8f5'; content: '\e8f5'; } /* 'î£µ' */
.czico-069-tag:before { --fa: '\e8f6'; content: '\e8f6'; } /* 'î£¶' */
.czico-070-price:before { --fa: '\e8f7'; content: '\e8f7'; } /* 'î£·' */
.czico-071-money-3:before { --fa: '\e8f8'; content: '\e8f8'; } /* 'î£¸' */
.czico-072-discount:before { --fa: '\e8f9'; content: '\e8f9'; } /* 'î£¹' */
.czico-073-money-2:before { --fa: '\e8fa'; content: '\e8fa'; } /* 'î£º' */
.czico-074-money-1:before { --fa: '\e8fb'; content: '\e8fb'; } /* 'î£»' */
.czico-075-news:before { --fa: '\e8fc'; content: '\e8fc'; } /* 'î£¼' */
.czico-076-bill:before { --fa: '\e8fd'; content: '\e8fd'; } /* 'î£½' */
.czico-077-like:before { --fa: '\e8fe'; content: '\e8fe'; } /* 'î£¾' */
.czico-078-support:before { --fa: '\e8ff'; content: '\e8ff'; } /* 'î£¿' */
.czico-079-hand:before { --fa: '\e900'; content: '\e900'; } /* 'î¤€' */
.czico-080-box:before { --fa: '\e901'; content: '\e901'; } /* 'î¤' */
.czico-081-money:before { --fa: '\e902'; content: '\e902'; } /* 'î¤‚' */
.czico-082-shop:before { --fa: '\e903'; content: '\e903'; } /* 'î¤ƒ' */
.czico-083-rocket-ship:before { --fa: '\e904'; content: '\e904'; } /* 'î¤„' */
.czico-084-creative:before { --fa: '\e905'; content: '\e905'; } /* 'î¤…' */
.czico-085-light-bulb:before { --fa: '\e906'; content: '\e906'; } /* 'î¤†' */
.czico-086-speech-bubble-3:before { --fa: '\e907'; content: '\e907'; } /* 'î¤‡' */
.czico-016-arrows-10:before { --fa: '\e908'; content: '\e908'; } /* 'î¤ˆ' */
.czico-088-speech-bubble-1:before { --fa: '\e909'; content: '\e909'; } /* 'î¤‰' */
.czico-089-speech-bubble:before { --fa: '\e90a'; content: '\e90a'; } /* 'î¤Š' */
.czico-090-mail-2:before { --fa: '\e90b'; content: '\e90b'; } /* 'î¤‹' */
.czico-091-mail-1:before { --fa: '\e90c'; content: '\e90c'; } /* 'î¤Œ' */
.czico-092-phone-call-1:before { --fa: '\e90d'; content: '\e90d'; } /* 'î¤' */
.czico-093-email:before { --fa: '\e90e'; content: '\e90e'; } /* 'î¤Ž' */
.czico-094-mail:before { --fa: '\e90f'; content: '\e90f'; } /* 'î¤' */
.czico-095-play-button:before { --fa: '\e910'; content: '\e910'; } /* 'î¤' */
.czico-096-music-player:before { --fa: '\e911'; content: '\e911'; } /* 'î¤‘' */
.czico-097-check:before { --fa: '\e912'; content: '\e912'; } /* 'î¤’' */
.czico-098-tick-4:before { --fa: '\e913'; content: '\e913'; } /* 'î¤“' */
.czico-099-tick-3:before { --fa: '\e914'; content: '\e914'; } /* 'î¤”' */
.czico-100-tick-2:before { --fa: '\e915'; content: '\e915'; } /* 'î¤•' */
.czico-101-tick-1:before { --fa: '\e916'; content: '\e916'; } /* 'î¤–' */
.czico-102-checklist:before { --fa: '\e917'; content: '\e917'; } /* 'î¤—' */
.czico-103-success:before { --fa: '\e918'; content: '\e918'; } /* 'î¤˜' */
.czico-104-tick:before { --fa: '\e919'; content: '\e919'; } /* 'î¤™' */
.czico-105-check-mark-1:before { --fa: '\e91a'; content: '\e91a'; } /* 'î¤š' */
.czico-106-check-mark:before { --fa: '\e91b'; content: '\e91b'; } /* 'î¤›' */
.czico-remove-1:before { --fa: '\e91c'; content: '\e91c'; } /* 'î¤œ' */
.czico-108-small-calendar:before { --fa: '\e91d'; content: '\e91d'; } /* 'î¤' */
.czico-109-clock-1:before { --fa: '\e91e'; content: '\e91e'; } /* 'î¤ž' */
.czico-110-calendar:before { --fa: '\e91f'; content: '\e91f'; } /* 'î¤Ÿ' */
.czico-111-clock:before { --fa: '\e920'; content: '\e920'; } /* 'î¤ ' */
.czico-112-location:before { --fa: '\e921'; content: '\e921'; } /* 'î¤¡' */
.czico-Icon-Action-Cart-Off:before { --fa: '\e922'; content: '\e922'; } /* 'î¤¢' */
.czico-114-internet-1:before { --fa: '\e923'; content: '\e923'; } /* 'î¤£' */
.czico-115-grid-world:before { --fa: '\e924'; content: '\e924'; } /* 'î¤¤' */
.czico-116-internet:before { --fa: '\e925'; content: '\e925'; } /* 'î¤¥' */
.czico-117-gallery-layout:before { --fa: '\e926'; content: '\e926'; } /* 'î¤¦' */
.czico-118-square-grid:before { --fa: '\e927'; content: '\e927'; } /* 'î¤§' */
.czico-119-gallery:before { --fa: '\e928'; content: '\e928'; } /* 'î¤¨' */
.czico-120-layout:before { --fa: '\e929'; content: '\e929'; } /* 'î¤©' */
.czico-121-24-hours:before { --fa: '\e92a'; content: '\e92a'; } /* 'î¤ª' */
.czico-122-phone-call:before { --fa: '\e92b'; content: '\e92b'; } /* 'î¤«' */
.czico-123-call:before { --fa: '\e92c'; content: '\e92c'; } /* 'î¤¬' */
.czico-124-smartphone-call:before { --fa: '\e92d'; content: '\e92d'; } /* 'î¤­' */
.czico-minus-symbol:before { --fa: '\e92e'; content: '\e92e'; } /* 'î¤®' */
.czico-Icon-Action-Cart-On:before { --fa: '\e92f'; content: '\e92f'; } /* 'î¤¯' */
.czico-line-button:before { --fa: '\e930'; content: '\e930'; } /* 'î¤°' */
.czico-minus:before { --fa: '\e931'; content: '\e931'; } /* 'î¤±' */
.czico-minus-2:before { --fa: '\e932'; content: '\e932'; } /* 'î¤²' */
.czico-minus-1:before { --fa: '\e933'; content: '\e933'; } /* 'î¤³' */
.czico-Icon-Badges-RecommendedProduct:before { --fa: '\e934'; content: '\e934'; } /* 'î¤´' */
.czico-Icon-Location-Pin:before { --fa: '\e935'; content: '\e935'; } /* 'î¤µ' */
.czico-Icon-Action-Registeration-Signout:before { --fa: '\e936'; content: '\e936'; } /* 'î¤¶' */
.czico-discount:before { --fa: '\e937'; content: '\e937'; } /* 'î¤·' */
.czico-gift-box:before { --fa: '\e938'; content: '\e938'; } /* 'î¤¸' */
.czico-Icon-Action-Order:before { --fa: '\e939'; content: '\e939'; } /* 'î¤¹' */
.czico-close:before { --fa: '\e93a'; content: '\e93a'; } /* 'î¤º' */
.czico-close-bold:before { --fa: '\e93b'; content: '\e93b'; } /* 'î¤»' */
.czico-cancel:before { --fa: '\e93c'; content: '\e93c'; } /* 'î¤¼' */
.czico-Icon-Navigation-Arrow-Left:before { --fa: '\e93d'; content: '\e93d'; } /* 'î¤½' */
.czico-Icon-Navigation-Chevron-Right:before { --fa: '\e93e'; content: '\e93e'; } /* 'î¤¾' */
.czico-Icon-Navigation-Chevron-Left:before { --fa: '\e93f'; content: '\e93f'; } /* 'î¤¿' */
.czico-Icon-Navigation-Arrow-Right:before { --fa: '\e940'; content: '\e940'; } /* 'î¥€' */
.czico-Icon-Navigation-Arrow-Down:before { --fa: '\e941'; content: '\e941'; } /* 'î¥' */
.czico-Icon-Navigation-Expand-More:before { --fa: '\e942'; content: '\e942'; } /* 'î¥‚' */
.czico-Icon-Navigation-Expand-Less:before { --fa: '\e943'; content: '\e943'; } /* 'î¥ƒ' */
.czico-clock:before { --fa: '\e944'; content: '\e944'; } /* 'î¥„' */
.czico-Icon-Action-Favorite-Off:before { --fa: '\e945'; content: '\e945'; } /* 'î¥…' */
.czico-Icon-Action-Favorite-On:before { --fa: '\e946'; content: '\e946'; } /* 'î¥†' */
.czico-Icon-Alert-Notification-Active:before { --fa: '\e947'; content: '\e947'; } /* 'î¥‡' */
.czico-Icon-Alert-Notification-Active-Fill:before { --fa: '\e948'; content: '\e948'; } /* 'î¥ˆ' */
.czico-Icon-Action-Share:before { --fa: '\e949'; content: '\e949'; } /* 'î¥‰' */
.czico-Icon-Action-PriceChart:before { --fa: '\e94a'; content: '\e94a'; } /* 'î¥Š' */
.czico-Icon-Action-Search-Trend:before { --fa: '\e94b'; content: '\e94b'; } /* 'î¥‹' */
.czico-Icon-Action-Search-Search:before { --fa: '\e94c'; content: '\e94c'; } /* 'î¥Œ' */
.czico-Icon-Action-Compare:before { --fa: '\e94d'; content: '\e94d'; } /* 'î¥' */
.czico-Icon-Badges-Seller:before { --fa: '\e94e'; content: '\e94e'; } /* 'î¥Ž' */
.czico-add-compare:before { --fa: '\e94f'; content: '\e94f'; } /* 'î¥' */
.czico-Icon-Action-Support:before { --fa: '\e950'; content: '\e950'; } /* 'î¥' */
.czico-Icon-Action-Filter:before { --fa: '\e951'; content: '\e951'; } /* 'î¥‘' */
.czico-params:before { --fa: '\e952'; content: '\e952'; } /* 'î¥’' */
.czico-seller-sm:before { --fa: '\e953'; content: '\e953'; } /* 'î¥“' */
.czico-seller-new:before { --fa: '\e954'; content: '\e954'; } /* 'î¥”' */
.czico-comments:before { --fa: '\e955'; content: '\e955'; } /* 'î¥•' */
.czico-faq:before { --fa: '\e956'; content: '\e956'; } /* 'î¥–' */
.czico-guarantee:before { --fa: '\e957'; content: '\e957'; } /* 'î¥—' */
.czico-guaranteed:before { --fa: '\e958'; content: '\e958'; } /* 'î¥˜' */
.czico-positive:before { --fa: '\e959'; content: '\e959'; } /* 'î¥™' */
.czico-Brand-Digikala-USPs-Monocolor-7daysreturn:before { --fa: '\e95a'; content: '\e95a'; } /* 'î¥š' */
.czico-Brand-Digikala-USPs-Monocolor-7x24:before { --fa: '\e95b'; content: '\e95b'; } /* 'î¥›' */
.czico-Brand-Digikala-USPs-Monocolor-BestPrice:before { --fa: '\e95c'; content: '\e95c'; } /* 'î¥œ' */
.czico-Brand-Digikala-USPs-Monocolor-ExpressDelivery:before { --fa: '\e95d'; content: '\e95d'; } /* 'î¥' */
.czico-Brand-Digikala-USPs-Monocolor-OriginalPruduct:before { --fa: '\e95e'; content: '\e95e'; } /* 'î¥ž' */
.czico-Brand-Digikala-USPs-Monocolor-CashonDelivery:before { --fa: '\e95f'; content: '\e95f'; } /* 'î¥Ÿ' */
.czico-Icon-Action-Delete:before { --fa: '\e960'; content: '\e960'; } /* 'î¥ ' */
.czico-Icon-Action-SaveforLater:before { --fa: '\e961'; content: '\e961'; } /* 'î¥¡' */
.czico-Icon-Badges-Delivery-Base:before { --fa: '\e962'; content: '\e962'; } /* 'î¥¢' */
.czico-Icon-Action-Category-Outline:before { --fa: '\e963'; content: '\e963'; } /* 'î¥£' */
.czico-001-left-arrow-3:before { --fa: '\e964'; content: '\e964'; } /* 'î¥¤' */
.czico-aparat:before { --fa: '\e965'; content: '\e965'; } /* 'î¥¥' */
.czico-shape1:before { --fa: '\eb2b'; content: '\eb2b'; } /* 'î¬«' */
.czico-xtra:before { --fa: '\eb2c'; content: '\eb2c'; } /* 'î¬¬' */
.czico-shape8:before { --fa: '\eb2d'; content: '\eb2d'; } /* 'î¬­' */
.czico-shape2:before { --fa: '\eb2e'; content: '\eb2e'; } /* 'î¬®' */
.czico-shape3:before { --fa: '\eb2f'; content: '\eb2f'; } /* 'î¬¯' */
.czico-shape4:before { --fa: '\eb30'; content: '\eb30'; } /* 'î¬°' */
.czico-shape5:before { --fa: '\eb31'; content: '\eb31'; } /* 'î¬±' */
.czico-shape6:before { --fa: '\eb32'; content: '\eb32'; } /* 'î¬²' */
.czico-shape7:before { --fa: '\eb33'; content: '\eb33'; } /* 'î¬³' */
.czico-snowflake-4:before { --fa: '\eb34'; content: '\eb34'; } /* 'î¬´' */
.czico-snowflake-1:before { --fa: '\eb35'; content: '\eb35'; } /* 'î¬µ' */
.czico-snowflake-2:before { --fa: '\eb36'; content: '\eb36'; } /* 'î¬¶' */
.czico-snowflake-3:before { --fa: '\eb37'; content: '\eb37'; } /* 'î¬·' */
.czico-009-percentage:before { --fa: '\eb38'; content: '\eb38'; } /* 'î¬¸' */
.czico-010-percentage-1:before { --fa: '\eb39'; content: '\eb39'; } /* 'î¬¹' */
.czico-011-price-tag:before { --fa: '\eb3a'; content: '\eb3a'; } /* 'î¬º' */
.czico-012-smartphone:before { --fa: '\eb3b'; content: '\eb3b'; } /* 'î¬»' */
.czico-013-discount:before { --fa: '\eb3c'; content: '\eb3c'; } /* 'î¬¼' */
.czico-014-percentage-2:before { --fa: '\eb3d'; content: '\eb3d'; } /* 'î¬½' */
.czico-015-24-hours-support:before { --fa: '\eb3e'; content: '\eb3e'; } /* 'î¬¾' */
.czico-016-telemarketer:before { --fa: '\eb3f'; content: '\eb3f'; } /* 'î¬¿' */
.czico-017-rescue-tube:before { --fa: '\eb40'; content: '\eb40'; } /* 'î­€' */
.czico-018-rescue-tube:before { --fa: '\eb41'; content: '\eb41'; } /* 'î­' */
.czico-019-rescue-tube:before { --fa: '\eb42'; content: '\eb42'; } /* 'î­‚' */
.czico-020-rescue-tube:before { --fa: '\eb43'; content: '\eb43'; } /* 'î­ƒ' */
.czico-021-rescue-tube:before { --fa: '\eb44'; content: '\eb44'; } /* 'î­„' */
.czico-022-live-preserver:before { --fa: '\eb45'; content: '\eb45'; } /* 'î­…' */
.czico-long-right-arrow:before { --fa: '\eb46'; content: '\eb46'; } /* 'î­†' */
.czico-long-left-arrow:before { --fa: '\eb47'; content: '\eb47'; } /* 'î­‡' */
.czico-abstract-christmas-tree:before { --fa: '\eb48'; content: '\eb48'; } /* 'î­ˆ' */
.czico-snowflake-5:before { --fa: '\eb49'; content: '\eb49'; } /* 'î­‰' */
.czico-shuffle:before { --fa: '\e966'; content: '\e966'; } /* 'î¥¦' */
.czico-loop:before { --fa: '\e967'; content: '\e967'; } /* 'î¥§' */
.czico-flow-cross:before { --fa: '\e968'; content: '\e968'; } /* 'î¥¨' */
.czico-loop-alt:before { --fa: '\e969'; content: '\e969'; } /* 'î¥©' */
.czico-down-small:before { --fa: '\e96a'; content: '\e96a'; } /* 'î¥ª' */
.czico-left-small:before { --fa: '\e96b'; content: '\e96b'; } /* 'î¥«' */
.czico-right-small:before { --fa: '\e96c'; content: '\e96c'; } /* 'î¥¬' */
.czico-up-small:before { --fa: '\e96d'; content: '\e96d'; } /* 'î¥­' */
.czico-menu:before { --fa: '\e96e'; content: '\e96e'; } /* 'î¥®' */
.czico-menu-outline:before { --fa: '\e96f'; content: '\e96f'; } /* 'î¥¯' */
.czico-list:before { --fa: '\e970'; content: '\e970'; } /* 'î¥°' */
.czico-article:before { --fa: '\e971'; content: '\e971'; } /* 'î¥±' */
.czico-loop-1:before { --fa: '\e972'; content: '\e972'; } /* 'î¥²' */
.czico-ok:before { --fa: '\e973'; content: '\e973'; } /* 'î¥³' */
.czico-th-large:before { --fa: '\e974'; content: '\e974'; } /* 'î¥´' */
.czico-th-list:before { --fa: '\e975'; content: '\e975'; } /* 'î¥µ' */